<header>List of links</header>

<table>
  <tr>
    <td>ID</td>
    <td>Location</td>
    <td>Shortcode</td>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.id %></td>
      <td><%= link.location %></td>
      <td><%= link.shortcode %></td>
      <td><%= link_to "update", edit_link_path(link) %></td>
      <td><%= link_to "delete", link, method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= button_to "Add a new link", new_link_path %>
