<header>Ridiculously Long Link Shortener</header>

<p>A service for creating (not-so) shortcodes.</p>

<p>Once you create a code for a link, you can access your desired domain simply
by appending your shortcode to our base domain url.</p>

<p>For example, if you were to add a link for the url 'http://twitter.com' with
the shortcode of 'twitter', you could access twitter by visiting the 
easy-to-remember url of "http://protected-bastion-7890.herokuapp.com/twitter".
</p>

<p>It's that easy!</p>

<table>
  <tr>
    <td>ID</td>
    <td>Location</td>
    <td>Shortcode</td>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.id %></td>
      <td><%= link.location %></td>
      <td><%= link.shortcode %></td>
      <td><%= link_to "update", edit_link_path(link) %></td>
      <td><%= link_to "delete", link, method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= button_to "Add a new link", new_link_path, method: :get %>
